@media only screen and (max-width: 1600px) {
  .userColorBlock {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 800px) {
  .userColorBlock {
    display: flex;
    flex-direction: column;
  }
}
