.message {
    background-color: lightblue;
    border-radius: 0.5em;
    padding: 0 0.7em 0 0.7em;
   margin: 0;
}

.user img{
    width: 3em;
    border-radius: 0.5em;
    margin: 0 0.3em 0 0;
}

.rowMessage {
    margin-bottom: 1em
}
.messageUserName{
    font-weight: 600;
}



.container .row .md-auto .container .messageCol {
    padding: 0;
}
.container .row .md-auto .messageContainer  {
    padding: 0;
}

.messageTime {
    color: rgba(0,0,0,0.5);
    font-size: 0.7em;
    margin: 0 0 0 1em;
}

.deleteButton {
    font-size: 1.45em;
    padding-left: 0.15rem;
    

}

.editButton {
    width: 2.5em;
    padding-left: 0.35rem;
    padding-right: 0.15rem
}

.sentButton {
    font-size: 1.5em;
    color: rgba(0,0,0,0.55);

}

.sentButtonButton {
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 0 2rem 0.5rem 
}

.editMessageMode {
    margin: 0.5em 0 0 0.25em ;
}